@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

/* Design Tokens */
@theme {
  --font-sans: 'Noto Sans', sans-serif;

  --color-primary-50: var(--color-stone-50);
  --color-primary-100: var(--color-stone-100);
  --color-primary-200: var(--color-stone-200);
  --color-primary-300: var(--color-stone-300);
  --color-primary-400: var(--color-stone-400);
  --color-primary-500: var(--color-stone-500);
  --color-primary-600: var(--color-stone-600);
  --color-primary-700: var(--color-stone-700);
  --color-primary-800: var(--color-stone-800);
  --color-primary-900: var(--color-stone-900);
  --color-primary-950: var(--color-stone-950);

  --color-secondary-50: var(--color-amber-50);
  --color-secondary-100: var(--color-amber-100);
  --color-secondary-200: var(--color-amber-200);
  --color-secondary-300: var(--color-amber-300);
  --color-secondary-400: var(--color-amber-400);
  --color-secondary-500: var(--color-amber-500);
  --color-secondary-600: var(--color-amber-600);
  --color-secondary-700: var(--color-amber-700);
  --color-secondary-800: var(--color-amber-800);
  --color-secondary-900: var(--color-amber-900);
  --color-secondary-950: var(--color-amber-950);

  --spacing: 4px;
}

/* Base Layer */
@layer base {
  html {
    scroll-behavior: smooth;
    background-color: var(--color-stone-300);
  }

  body {
    background: linear-gradient(
      115deg,
      var(--color-stone-100) 0%,
      var(--color-amber-50) 30%,
      var(--color-stone-300) 100%
    );
    background-attachment: fixed;
    color: var(--color-stone-900);
    min-height: 100vh;
    padding: calc(var(--spacing) * 2);
  }

  @media (prefers-color-scheme: dark) {
    html {
      background-color: var(--color-stone-900);
    }

    body {
      background: linear-gradient(
        115deg,
        var(--color-stone-900) 0%,
        var(--color-stone-800) 30%,
        var(--color-stone-800) 100%
      );
      color: var(--color-stone-100);
    }
  }
}

/* Utilities Layer - Reusable classes: prefixed with 'u-' for clarity. */
@layer utilities {
  .u-focus-ring {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-secondary-500;
  }
}
